<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven />

	<context:component-scan base-package="net.rabiang.controllers" />

	<!-- 
		- The ContentNegotiatingViewResolver delegates to the InternalResourceViewResolver 
		- and BeanNameViewResolver, - and uses the requested media type (determined 
	    - by the path extension) to pick a matching view.
	    - When the media type is 'text/html', it will delegate to the InternalResourceViewResolver's JstlView, 
		- otherwise to the BeanNameViewResolver. -->
	<mvc:view-resolvers>
		<mvc:content-negotiation use-not-acceptable="true">			
			<mvc:default-views>
				<bean class="org.springframework.web.servlet.view.JstlView">
					<property name="url" value=""/>
				</bean>
			</mvc:default-views>
		</mvc:content-negotiation>

		<!-- Registering ViewResolvers -->
		<mvc:tiles/>
		<mvc:bean-name/>
		<mvc:jsp prefix="/WEB-INF/views/" suffix=".jsp"/>
	</mvc:view-resolvers>
	
	<mvc:tiles-configurer check-refresh="true" validate-definitions="true">
		<mvc:definitions location="/WEB-INF/tiles/tiles-defs.xml" />
	</mvc:tiles-configurer>
	
	<!--
		- All resources inside folder src/main/webapp/resources are mapped 
		- so they can be refered to inside JSP files. -->
	<mvc:resources mapping="/resources/**" location="/resources/" cache-period="0"/>
	<mvc:resources mapping="/vendors/**" location="/vendors/" cache-period="0"/>
	
	<!--
        - i18n Message source for this context, loaded from localized "messages_xx" files.
        - Files are stored inside src/main/resources
    -->
    <bean id="messageSource"
    	class="org.springframework.context.support.ResourceBundleMessageSource">
    	<property name="basenames">
    		<list>
    			<value>messages/messages</value>
    		</list>
    	</property>
    	<property name="defaultEncoding" value="UTF-8"/>
    </bean>
    
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
    
    <mvc:interceptors>
    	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
    		<property name="paramName" value="lang"/>
    	</bean>
    </mvc:interceptors>
</beans>
